
  @import "tailwindcss";

html {
  font-family: Poppins, "Helvetica Neue", Arial, sans-serif;
}

:root {
  --foreground: #171717;
}

body {
  background: transparent; /* allows bg-blue-50 to show */
  color: var(--foreground);
}

@layer base {
  button {
    cursor: pointer;
  }
}

/*  for scroll bar */

/* ===== Scrollable form area ===== */
.form-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cfddeb transparent;
}

.form-scroll::-webkit-scrollbar {
  width: 6px;
}

.form-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.form-scroll::-webkit-scrollbar-thumb {
  background-color: #cfddeb;
  border-radius: 10px;
}

.form-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #b7cbe3;
}